@media(max-width: 1024px) {
    .promo {
        padding: 21px 10px 49px 10px;
        background: url(../img/promo_bg_1024.jpg) center (center/cover) no-repeat fixed;
    }
}

@media (max-width: 768px) {
    .promo {
        padding: 18px 10px 25px 10px;
        min-height: 500px;
        &__wrapper {
            margin-top: 76px;
        }
        &__icons {
            margin-top: 34px;
            width: 350px;
        }
        &__icon {
            font-size: 12px;
        }
        .button_main {
            margin-top: 57px;
            width: 245px;
            height: 42px;
        }
        &__link {
            margin-top: 9px;
            font-size: 15px;
        }
        &__header {
            font-size: 25px;
        }
        &__subheader {
            font-size: 17px;
        }
        .header {
            &__logo {
                width: 200px;
            }
            &__official {
                font-size: 10px;
                span {
                    font-size: 15px;
                }
            }
            &__phone {
                font-size: 13px;
            }
            .button {
                width: 120px;
                height: 27px;
                font-size: 11px;
            }
        }
    }
    

    .preference {
        padding: 28px 10px 30px 10px;

        .title {
            font-size: 22px;
        }
        &__wrapper {
            margin-top: 35px;
        }
        &__item {
            max-width: 214px;
        }
        &__subtitle {
            margin-top: 15px;
            font-size: 15px;
        }
        &__text {
            margin-top: 9px;
            font-size: 12px;
        }
    }
    .consultation {
        padding: 50px 20px 50px 20px;
        min-height: 450px;
        background: url(../img/consultation_bg.png) center center/cover no-repeat fixed;
        .title {
            &_left {
                width: 512px;
                font-size: 22px;
            }
        }
        &__dscr {
            margin-top: 48px;
            font-size: 19px;
        }
        .feed-form {
            margin-top: 19px;
            width: 290px;
            input {
                height: 45px;
                margin-bottom: 10px;
                &:nth-child(3) {
                    margin-bottom: 15px;
                }
            }
            .button_submit {
                height: 40px;
                font-size: 15px;
            }
        }
    }
    .carousel {
        &__inner {
            width: 600px;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        padding: 60px 0;
        &__content {
            justify-content: center;
        }
        &-item{
            &:nth-child(even) {
                margin-left: 20px;
            }
        }
        &__tab {
            width: 190px;
        }
    }
    .review {
        .title {
            font-size: 25px;
        }
        &__item {
            padding: 0 30px;
            img {
                width: 33%;
                height: 33%;    
            }
        }
        &__text {
            padding-left: 18px;
        }
        &__name {
            font-size: 18px;
        }
        &__subtitle {
            font-size: 15px;
        }
        &__dscr {
            font-size: 14px;
        }
        hr {
            width: 100%;
        }
    }
    .footer {
        &__info {
            padding: 20px 50px 20px 50px;
            width: 320px;
            height: 190px;
        }
        &__addr {
            font-size: 18px;
            margin-bottom: 25px;
        }
        &__phone {
            font-size: 18px;
            margin-bottom: 25px;
        }
        &__social-item {
            width: 40px;
            height: 40px;
        }
    }
    
}

@media (max-width: 603px) {

    .promo {
        .button_main {
            width: 222px;
            height: 36px;
            font-size: 14px;
        }
        &__link {
            margin-top: 8px;
            font-size: 14px;
        }
    }

    .preference {
        padding: 28px 0 30px 0;

        .title {
            font-size: 20px;
        }
        &__wrapper {
            margin-top: 35px;
        }
        &__item {
            max-width: 171px;
        }
        &__subtitle {
            margin-top: 15px;
            font-size: 13px;
        }
        &__text {
            margin-top: 9px;
            font-size: 11px;
        }
    }
    .consultation {
        .title {
            &_left {
                text-align: center;
                font-size: 22px;
            }
        }
        &__dscr {
            text-align: center;
            margin: 0 auto;
            margin-top: 48px;
            font-size: 16px;
            width: 260px;
        }
        .feed-form {
            margin: 0 auto;
            margin-top: 19px;
            width: 250px;
        }
    }
}

@media (max-width: 425px) {
    .header {
        &__official {
            display: none;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
            margin-top: 60px;
        }
        .button_main {
            width: 220px;
            height: 35px;
            font-size: 14px;
        }
        &__link {
            font-size: 13px;
        }
    }
    .preference {

        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        }
        &__item {
            margin-top: 25px;
        }
}
    .consultation {
        .title {
            &_left {
                margin: 0 auto;
                width: 300px;
                font-size: 18px;
            }
        }
    }
    .carousel {
        padding: 40px 0;
        &__inner {
            width: 400px;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        padding: 40px 0;
        .title {
            font-size: 22px;
        }
        &__tabs{
            margin-top: 30px;
        }
        &__tab {
            width: 111px;
            font-size: 11px;
            line-height: 35px;
            height: 37px;
        }
        &__content {
            margin-top: 30px;
        }
        &-item {
            width: 280px;
            &:nth-child(even){
                margin-left: 0;
            }
            img {
                height: 180px;
            }
            &__dscr {
                font-size: 13px;
            }
            li {
                font-size: 13px;        
            }
        }
        hr {
            width: 200px;
            margin-top: 20px;
        }
        .button_mini {
            width: 113px;
            height: 33px;
            font-size: 13px;
        }
        
    }
    .review {
        .title {
            font-size: 25px;
        }
        &__item {
            padding: 0 10px;
        }
        &__text {
            padding-left: 18px;
        }
        &__name {
            font-size: 14px;
        }
        &__subtitle {
            font-size: 13px;
        }
        &__dscr {
            margin-top: 12px;
            font-size: 12px;
        }
    }
}
@media (max-width: 375px) {
    .promo {
        &__header {
            font-size: 24px;
        }
        &__subheader {
            font-size: 16px;
        }
        &__icons {
            width: 337px;
        }
        .button_main {
            width: 190px;
            height: 29px;
            font-size: 12px;
        }
        &__link {
            margin-top: 5px;
            font-size: 12px;
        }
        .header {
            &__logo {
                width: 180px;
            }
            &__phone {
                font-size: 12px;
            }
            .button {
                width: 110px;
                height: 23px;
                font-size: 10px;
            }
        }
    }
    .carousel {
        padding: 40px 0;
        &__inner {
            width: 320px;
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        &__tab {
            width: 90px;
            font-size: 9px;
            line-height: 30px;
            height: 33px;
        }
    }
    
}

@media (max-width: 320px) {
    .promo {
        &__header {
            line-height: 19px;
            font-size: 21px;
        }
        &__subheader {
            font-size: 13px;
        }
        &__icons {
            width: 290px;
        }
        .header {
            &__logo {
                width: 156px;
            }
            &__phone {
                font-size: 11px;
            }
            .button {
                width: 103px;
                height: 21px;
                font-size: 9px;
            }
        }
    }
    .preference {
        .title {
            font-size: 18px;
        }
    }
    .consultation {
        .title {
            &_left {
                text-align: center;
                font-size: 18px;
            }
        }
    }
}