@media (max-width: 768px) {
    .promo {
        padding: 18px 0 25px 0;
        min-height: 500px;
        &__wrapper {
            margin-top: 76px;
        }
        &__icons {
            margin-top: 34px;
            width: 350px;
        }
        &__icon {
            font-size: 12px;
        }
        .button_main {
            margin-top: 57px;
            width: 245px;
            height: 42px;
        }
        &__link {
            margin-top: 9px;
            font-size: 15px;
        }
        &__header {
            font-size: 25px;
        }
        &__subheader {
            font-size: 17px;
        }
        .header {
            &__logo {
                width: 200px;
            }
            &__official {
                font-size: 10px;
                span {
                    font-size: 15px;
                }
            }
            &__phone {
                font-size: 13px;
            }
            .button {
                width: 120px;
                height: 27px;
                font-size: 11px;
            }
        }
    }
    

    .preference {
        padding: 28px 0 30px 0;

        &__title {
            font-size: 22px;
        }
        &__wrapper {
            margin-top: 35px;
        }
        &__item {
            max-width: 214px;
        }
        &__subtitle {
            margin-top: 15px;
            font-size: 15px;
        }
        &__text {
            margin-top: 9px;
            font-size: 12px;
        }
    }
}

@media (max-width: 425px) {
    .header {
        &__official {
            display: none;
        }
    }
    .promo {
        &__wrapper {
            align-items: center;
            margin-top: 60px;
        }
        .button_main {
            width: 220px;
            height: 35px;
            font-size: 14px;
        }
        &__link {
            font-size: 13px;
        }
    }
    .preference {

        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
        }
        &__item {
            margin-top: 25px;
        }

}
}