@import '../sass/libs/animate';
@import '../sass/libs/bootstrap-reboot.min';
@import '../sass/libs/fonts';
@import '../sass/libs/slick';

@import '../sass/base/variables';
@import '../sass/base/animation';

*	{
		font-family: 'Museo', sans-serif;
}

.container {
	position: relative;
	max-width: 950px;
	margin: 0 auto;
}

@import '../sass/blocks/promo';
@import '../sass/blocks/header';
@import '../sass/blocks/buttons';
@import '../sass/blocks/preference';
@import '../sass/blocks/titles';
@import '../sass/blocks/consultation';
@import '../sass/blocks/forms';
@import '../sass/blocks/carousel';
@import '../sass/blocks/catalog';
@import '../sass/blocks/review';
@import '../sass/blocks/footer';
@import '../sass/blocks/modal';
@import '../sass/blocks/pageup';
@import '../sass/media';
