@import '../sass/base/variables';

*	{
		font-family: 'Museo', sans-serif;
}

.container {
	position: relative;
	max-width: 950px;
	margin: 0 auto;
}

@import '../sass/blocks/promo';
@import '../sass/blocks/header';
@import '../sass/blocks/buttons';
@import '../sass/blocks/preference';
@import '../sass/blocks/titles';
@import '../sass/blocks/consultation';
@import '../sass/blocks/forms';
@import '../sass/blocks/carousel';
@import '../sass/blocks/catalog';
@import '../sass/blocks/review';
@import '../sass/blocks/footer';
@import '../sass/blocks/modal';
@import '../sass/media';
